.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer components{ /* Test for Gavin */
  .button-blue { 
      @apply bg-blue-200 border-blue-600 border border-solid text-center text-blue-600 rounded-3xl font-medium;
  }
  .button-yellow { 
    @apply bg-yellow-200 border-yellow-600 border border-solid text-center text-yellow-600 rounded-3xl font-medium;
  }
  .button-green { 
    @apply bg-green-200 border-green-600 border border-solid text-center text-green-600 rounded-3xl font-medium;
  }
  .button-allign{

  }
}  